BOOTSTRAP_SERVERS=kafka-controller-0.kafka-controller-headless.kafka.svc.cluster.local:9092
MAPPER_NAME=rdf_transform_mapper
SOURCE_TOPIC=knowledge
TARGET_TOPIC=knowledge
CONFIG_PATH=mapping-config.yaml
RDF_OUTPUT_FORMAT=text/turtle
SECURITY_LABEL_AND_GROUP=urn:telicent:groups:datasets:ies-next